.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", okrs_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_okr_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Okrs
    .inner
      %table.table
        %tr
          %th.first ID
          %th
            = t("activerecord.attributes.okr.description", :default => t("activerecord.labels.description", :default => "Description"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @okrs.each do |okr|
          %tr{:class => cycle("odd", "even")}
            %td
              = okr.id
            %td
              = link_to okr.description, okr_path(okr)
            %td
              = okr.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", okr_path(okr)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_okr_path(okr)} |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", okr_path(okr), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
- content_for :sidebar, render(:partial => 'sidebar')
